body,
body * {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat";
  font-weight: 400;
}
html {
  scroll-behavior: smooth;
}

body {
  background-color: rgba(0, 0, 0, 0.03);
  padding-top: 70px;
}

nav {
	display: flex;
	justify-content: space-between;
	align-items:center;
	height:60px;
	background-color:#ffffff;
	box-shadow:2px 2px 12px rgba(0,0,0,0.2);
	padding:0px 5%;

}
nav ul{
	display: flex;
}
.toggle{
	display: none;
}

nav ul li a{
	margin:30px;
	font-family:myriad pro regular;
	color:#505050;
	font-size: 15px;
	font-weight:700;
}

.active{
	color:#2d2a2a;
	font-weight:bold;
}

.boxed {
  width: 100%;
  padding: 0px 15px;
  max-width: 1100px;
  margin: 0px auto;
}

.btn {
  padding: 10px 20px;
  background: rgba(0, 0, 0, 0.7);
  color: #fff;
  display: inline-block;
  border: none;
  outline: none;
  text-decoration: none;
  border-radius: 4px;
}
.btn:hover {
  background: #000;
}
h1 {
  font-size: 45px;
  font-weight: 600;
}
header {
  height: 70px;
  background: #fff;
  border-bottom: 1px solid #eee;
  position: fixed;
  top: 0;
  width: 100%;
}
header .boxed {
  height: 100%;
}
header ul.nav-bar {
  list-style: none;
  display: flex;
  align-items: center;
  height: 100%;
}
header ul.nav-bar li {
  margin-right: 40px;
}
header ul.nav-bar li a {
  color: rgba(0, 0, 0, 0.4);
  font-weight: 700;
  text-decoration: none;
}
header ul.nav-bar li a:hover,
header ul.nav-bar li a.active {

}

section {
  padding: 70px 0px;
}
section#banner {
  min-height: calc(100vh - 70px);
  height: 100%;
  display: flex;
  align-items: center;
  background-image: url("../images/test1.jpg");
  background-size: cover;
  background-blend-mode: color;
  background-color: rgba(0, 0, 0, 0.7);
}
section#banner h1 {
  color: #fff;
}
section#banner h3 {
  margin-bottom: 20px;
  margin-top: 10px;
  color: #fff;
}
section#banner .btn-group .btn {
  margin-right: 10px;
}

section h2.section-title {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 40px;
}

section .portfolio-items {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
section .portfolio-items .portfolio-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 0 30%;
  padding: 15px;
  background: #fff;
  border: 1px solid #eee;
}
section .portfolio-items .portfolio-item .portfolio-image {
  height: 400px;
  width: 100%;
  background-size: cover;
  background-position: center center;
  margin-bottom: 20px;
}
section .portfolio-items .portfolio-item .portfolio-title {
  font-size: 20px;
  text-align: center;
  font-weight: 500;
}
section .portfolio-items .portfolio-item .portfolio-tech {
  margin-top: 10px;
  margin-bottom: 25px;
  font-size: 15px;
  text-align: center;
}
section .portfolio-items .portfolio-item .portfolio-link {
  color: rgba(0, 0, 0, 0.7);
  width: 100%;
  padding: 10px;
  text-align: center;
}

.social-icons a{
	width:40px;
	height:40px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color:#e6e3e3;
	margin:20px 10px;
	border-radius:50%;
}
.social-icons{
	display: flex;

}
.social-icons i,.social i{
	color:#000000;
}
.social-icons a:hover{
	background-color:#000000;
	box-shadow:2px 2px 12px rgba(0,0,0,0.2);
	transition:all ease 0.5s;
}
.social-icons a:hover i,
.social a:hover i{
	color:#FFFFFF;
	transition:all ease 0.5s;
}

.social{
	position: fixed;
	top:50%;
	right:0px;
	transform:translateY(-50%);
}
.social a{
	display: flex;
	justify-content: center;
	align-items: center;
	width:50px;
	height:50px;
	margin:0px;
	padding: 0px;
	line-height:0px;
	background-color:#FFFFFF;
	border:1px solid #CBCBCB;
	box-shadow:2px 2px 12px rgba(0,0,0,0.2);
}
.social a:hover{
	background-color:#000000;
	transition:all ease 0.5s;
}
.social i{
	font-size:20px;
	color:#2B2B2B;
}

footer {
  background: #fff;
  border-top: 1px solid #eee;
  padding: 20px 0px;
}
footer p.footer-text {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.7);
  font-weight: 600;
}

.text-container p:nth-child(1){
	font-family: calibri;
	font-weight:bold;
	color:#6d6d6d;
	font-size:22px;
}
.text-container p:nth-child(2){
	font-family:calibri;
	font-weight:bold;
	letter-spacing:1px;
	color:#1a1a1a;
	font-size:60px;

}
.text-container p:nth-child(3){
	font-family: myriad pro regular;
	color: #403e3e;
	font-size:30px;
	line-height:30px;
}

.text-container p{
	margin:45px 0px 25px;
	line-height:0px;
}
.text-container button{
	width:130px;
	height:42px;
	border-radius:10px;
	font-family:calibri;
	font-weight:bold;
	font-size: 14px;
	outline:none;
	margin:0px 10px;

}
.text-container{
	position: absolute;
	left:13%;
	top:42%;
	transform:translate(-13%,-42%);
}
.hire-btn{
	border:2px solid #373636;
	color:#373636;
	background-color:transparent;

}
.down-cv{
	background-color:#0B0B0B;
	color:#fff;
	border:none;
}
button:active{
	transform:scale(1.1);
}
.about-container{
	width:80%;
	height:330px;
	background:#ffffff;
	border-radius:20px;
	box-shadow:2px 2px 12px rgba(0,0,0,0.2);
	display: flex;
	margin: -7%  auto 20px auto;
	position: relative;
	justify-content:space-evenly;
	align-items: center;
}
.about-container img{
	height:250px;
}
.about-text{
	width:500px;
}
.about-text p:nth-child(1){
	color:#403e3e;
	font-family: sans-serif;
	font-weight:bold;
	font-size:23px;
	line-height:60px;
}
.about-text p:nth-child(2){
	color:#3e3d3d;
	font-size:13px;
	font-family: sans-serif;
	font-weight:bold;
	line-height:20px;
}
.about-text p:nth-child(3),.about-text p:nth-child(4){
	color:#7e7d7d;
	font-family:sans-serif;
	font-size:16px;
}
.about-text button{
	width:120px;
	height: 40px;
	color:#ffffff;
	outline:none;
	border:none;
	font-family: calibri;
	background-color:#262525;
}

.social-icons a{
	width:40px;
	height:40px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color:#e6e3e3;
	margin:20px 10px;
	border-radius:50%;
}
.social-icons{
	display: flex;

}
.social-icons i,.social i{
	color:#000000;
}
.social-icons a:hover{
	background-color:#000000;
	box-shadow:2px 2px 12px rgba(0,0,0,0.2);
	transition:all ease 0.5s;
}
.social-icons a:hover i,
.social a:hover i{
	color:#FFFFFF;
	transition:all ease 0.5s;
}

.copyright{
	color:#565555;
	font-size: 12px;
	position: absolute;
	left:50%;
	bottom:10px;
	transform: translateX(-50%);
}
.social{
	position: fixed;
	top:50%;
	right:0px;
	transform:translateY(-50%);
}
.social a{
	display: flex;
	justify-content: center;
	align-items: center;
	width:50px;
	height:50px;
	margin:0px;
	padding: 0px;
	line-height:0px;
	background-color:#FFFFFF;
	border:1px solid #CBCBCB;
	box-shadow:2px 2px 12px rgba(0,0,0,0.2);
}
.social a:hover{
	background-color:#000000;
	transition:all ease 0.5s;
}
.social i{
	font-size:20px;
	color:#2B2B2B;
}
@media(max-width:1000px){
	*{
		box-sizing: border-box;
	}


	.text-container{
		top:46%;
	}
	.text-container button{
		margin: 5px;
	}
	.about-container{
		width:90%;
		border-radius: 10px;
	}
	.about-container img{
		height: 200px;
	}
	.about-text{
		width: 400px;
	}
	.about-text p:nth-child(1){
		font-size: 10px;

	}
	.about-text p:nth-child(2){
		font-size: 10px;
	}

	.about-text p:nth-child(3),
	.about-text p:nth-child(4){
		font-size: 14px;
	}


@media(max-width:750px){


	.toggle{
		display: block;
	}
	.text-container p:nth-child(2){
		line-height: 40px;
		margin: 0px;
		padding: 0px;

	}
	.text-container{
		top: 50%;
		left: 50%;
		transform: translate(-50%,-50%);
		width: 80%;
	}

  .toggle:before{
		content: '\f0c9';
		font-family: fontAwesome;
		line-height: 30px;
		z-index: 1;
	}
	.toggle.active:before{
		content: '\f00d';
		position: fixed;
		right: 25px;
		line-height: 0px;
	}

  .about-container{
    top: 0px;
    flex-direction: column;
    width:90%;
    height: auto;
    padding: 30px 0px;
    align-items: center;
  }
  .about-text{
    width:90%;
    text-align: center;
  }
